.form_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 3rem;
}

.form_page h1 {
  margin: 2rem 0;
  font-size: 3rem;
  color: black;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 650px;
}

.form input,
.form textarea,
.form select {
  margin: 0.5rem 0;
}

.form textarea {
  padding: 0.8rem 1rem;
}
.form label {
  margin-top: 0.3rem;
  color: #888;
}

.ingredient_labels {
  display: flex;
}

.ingredient_labels label {
  width: 47%;
}

.ingredient_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredient_container button {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient_container button span {
  font-size: 1rem;
}

.ingredient_field {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.ingredient_field:first-child {
  margin-right: 2%;
}

.add_button {
  background-color: var(--main-color);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
}
.submit_container {
  display: flex;
  justify-content: end;
}
.large_button {
  height: 3rem;
  width: 10rem;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  margin: 0.5rem 0;
}

.input_error {
  color: rgb(255, 95, 95);
  margin-bottom: 0.7srem;
}

/* CONFIRMATION */

.confirmation {
  background-color: white;
  padding: 3rem;
  margin: 3rem 0.5rem 0.5rem;
  border-radius: 0.8rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.confirmation p {
  font-size: 1.5rem;
}

.confirmation button {
  height: 3rem;
  padding: 0 1rem;
  box-shadow: var(--box-shadow);
}

.confirmation > div > button {
  margin-left: 1rem;
  background-color: var(--main-color);
}
