@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&family=Lora:wght@400;600&family=PT+Sans&display=swap");

:root {
  --card-height: 450px;
  --card-width: 300px;
  --main-color: #abb89f;
  --pale-pink: #edecec;
  --pale-something: #dacaca;
  --pale-gray: #efefef;
  --light-gray: #a4a4a4;
  --mid-gray: #999;
  --box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);
}

html {
  background: linear-gradient(
      to bottom,
      var(--pale-pink),
      var(--pale-something)
    )
    no-repeat center center fixed;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 600;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0 1rem;
  border-radius: 0.3rem;
  box-shadow: inset var(--box-shadow);
  outline: 1px solid rgba(170, 170, 170, 0);
  transition: 0.3s ease;
}

input:hover,
select:hover,
textarea:hover {
  outline: 1px solid #aaa;
}

input,
select {
  height: 3rem;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 0.3rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.only {
  width: 49%;
}
