.hero {
  max-height: 60vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg_video {
  width: 100%;
  object-fit: fill;
}
