.card_link {
  text-decoration: none;
  color: inherit;
}

.card_link:hover h2 {
  text-decoration: underline;
}

.card {
  background-color: white;
  width: var(--card-width);
  border-radius: 0.8rem;
  box-shadow: var(--box-shadow);
  transition: 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
}

.card:hover .recipe_photo {
  transform: scale(1.08);
}

.info_container {
  height: calc(var(--card-height) - var(--card-width));
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: white;
}

.info_container h2 {
  font-size: 1.3rem;
  font-family: "Lora", serif;
  margin-bottom: 0.7rem;
}

.info_container p {
  font-size: 0.9rem;
  color: var(--mid-gray);
}

.extra_info {
  margin-top: auto;
  display: flex;
  align-items: fend;
}

.flag {
  margin-left: auto;
  height: 1.5rem;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
}

.recipe_photo_container {
  height: var(--card-width);
  overflow: hidden;
}

.recipe_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0;
  transition: 0.5s ease;
}

.img_placeholder {
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem 0.8rem 0 0;
}

.img_placeholder:hover span {
  text-decoration: none;
}

.img_placeholder span {
  font-size: 3rem;
  color: #888;
}
