.recipe_page {
  background-color: white;
  max-width: 1400px;
  min-width: 1200px;
  padding: 2rem 7rem 4rem;
}

.back_button {
  width: 3rem;
  height: 3rem;
}

.recipe_page h1 {
  text-align: center;
  margin: 0 1rem;
  font-size: 3rem;
  color: black;
}

.recipe_title {
  margin: 3rem 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta_info {
  text-align: right;
  margin-bottom: 2rem;
  line-height: 140%;
}

.author {
  text-align: right;
}

.recipe_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image_container {
  height: 80vh;
  width: 50%;
  min-width: 500px;
  overflow: hidden;
}

.recipe_photo {
  height: 100%;
}

.img_placeholder {
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_placeholder span {
  font-size: 3rem;
  color: #888;
}

.flag {
  width: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
}

.description {
  font-size: 1.7rem;
  line-height: 140%;
}

.instructions {
  line-height: 140%;
}

.ingredient_list {
  background-color: #eee;
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.recipe_page table {
  border-collapse: collapse;
  margin: 1rem 0;
}

.recipe_page table th {
  text-align: left;
}

.recipe_page table td,
.recipe_page table th {
  padding: 0.5rem 2rem;
}

.recipe_page table td:first-child,
.recipe_page table th:first-child {
  border-right: 1px solid black;
  padding-left: 0;
}
