.card_link {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: white;
  width: var(--card-width);
  border-radius: 0.5rem;
}

.info_container {
  height: calc(var(--card-height) - var(--card-width));
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.info_container h2 {
  font-size: 1.4rem;
}

.info_container p {
  font-size: 0.8rem;
  color: #888;
}

.extra_info {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.extra_info div {
  margin-left: auto;
}

.recipe_photo_container {
  height: var(--card-width);
}

.recipe_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

.flag {
  height: 1.5rem;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
