.card {
  background-color: antiquewhite;
  width: var(--card-width);
}

.recipe_photo_container {
  height: var(--card-width);
}

.recipe_photo {
  width: var(--card-width);
}

.flag {
  width: 50px;
}
