.recipe_page {
  background-color: white;
  max-width: 1400px;
  padding: 4rem;
}

.back_button {
  width: 3rem;
  height: 3rem;
}

.recipe_page h1 {
  font-size: 3rem;
  color: black;
}

.recipe_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.author {
  text-align: right;
}

.image {
  height: 500px;
}

.flag {
  width: 50px;
}

.recipe_page table {
  border-collapse: collapses;
}

.recipe_page table td,
.recipe_page table th {
  padding: 0.3rem 1rem;
}
